<div class="card" style="max-width: 20rem; margin: 10px">
  <img
    style="max-width: 320px; max-height: 240px"
    class="card-img-top" src="{{task.image_path}}"
    alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Created by: {{task.username}}</h5>
    <p>User email: {{task.email}}</p>
    <h6>Task
      <button
        class="btn m-1"
        [disabled]="disabled"
        ngClass="{{task.status ? 'btn-success' : 'btn-warning'}}"
        (click)="changeStatus()">{{task.status ? 'done' : 'in procces'}}
      </button>
    </h6>
    <textarea class="form-control"
              [(ngModel)]="task.text"
              [disabled]="disabled"
              style="border-color: antiquewhite;"></textarea>
  </div>
  <div class="card-body" *ngIf="isAdmin && task.id !== -1">
    <a class="card-link" (click)="edit()">Edit</a>
    <a class="card-link" *ngIf="!disabled" (click)="save()">Save</a>
  </div>
</div>
